body {
    background-image: url('images/bg.png');
    margin: 0;
}

main {
    padding: 0 10%;
}

nav {
    background-color: #333333;
    margin: 0;
    width: 100%;
    padding: 5px 0px 5px 0px;
    word-spacing: 15px;
    text-align: right;
}

ul {
    padding-right: 10%;
}

li {
    display: inline;
}

img {
    display: block;
    float: left;
    padding: 10px 10%;
}

a,
.title {
    color: #ff0099;
}

h1,
h2,
h3 {
    font-family: 'Crete Round', serif;
    padding-top: 20px;
}

.sep {
    padding: 35px;
}

#wiki,
.sep {
    text-align: center;
}

p {
    font-family: 'Consolas', 'Courier';
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}