@model GreetApplication.Models.Form

<html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>Index</title></head>
  <body>
    @using (Html.BeginForm("index", "home"))
       {
          <p>What is your name?</p>
          <p>@Html.TextBoxFor(model => model.Name)</p>
          <button type="submit">Submit</button>
       }
  </body>
</html>