p {
    background: #0094a4;
    border: 6px solid #54d696;
    box-sizing: content-box;
    color: #005768;
    display: block;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: lighter;
    height: 145px;
    padding: 20px 0px 0px 15px; 
    width: 360px;
}
